@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Montserrat&family=Noto+Sans:wght@200;400&family=Pixelify+Sans&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --peach: #ffe0a7;
    --yellow-orange: #fd9b14;
    --orange: #fd7b01;
    --blue: #445474;
    --darkblue: #243b53;
    --purple: #061e44;
    --darkdarkblue: #00051f;
    --white: #fff;
}


html,body {
    width:100%;
    height:100%;
    background: var(--darkdarkblue);
   
}






.text {
    color: var(--white);

}



.section {
    width:85%;
    height: 30rem;
    border-radius: 20px;
    background-color: var(--blue);
    margin-top: 4rem;
    margin-left: 6rem;
    display: grid;
    grid-template-columns: 65rem auto;
    grid-gap: 2rem;
    
}

#home {
    margin-top: 4rem;
    margin-left: 6rem;
    display: grid;
    grid-template-columns: 65rem auto;
    grid-gap: 2rem;

}

#about {
    margin-top: 4rem;
}

#danda-banda {
   opacity: 1;
   
}

#heading{
    font-size: 5rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 200; 
    margin-top: 2rem;
    margin-left: -40rem;
    opacity: 1;
}
#heading-about{
    font-size: 5rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: 200; 
    margin-top: 2rem;
    margin-left: 2rem;
    opacity: 1;
  
}
#info {
    font-family: "Poppins", sans-serif;
    margin-top: -22rem;
    margin-left: 30rem;
    grid-column: 1;
    width:25rem;
    font-size: 1.2rem;
    opacity: 1;
}

#spacer {
    height: 90%;
}

#pyrologo {
   
    opacity: 1;
    margin-left: -8rem;
    margin-top: -8rem;
}

#aboutinfo {

        font-family: "Poppins", sans-serif;
        margin-top: 12rem;
        margin-left: -65rem;
        width:25rem;
        font-size: 1.2rem;
        opacity: 1;
    
    }
